<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

	<body>
		<div class="container-fluid">
			<form method="post" th:action="@{/cuenta}" th:object="${crearCuenta}">
				
				<h1 class="pull-left">Creacion de cuentas</h1>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<div class="form-group">
					<label for="nombreCuenta">Nombre_Cuenta</label>
					<input type="text" class="form-control" id="nombreCu" aria-describedby="emailHelp" placeholder="Ingresar nombre de la cuenta" th:field="*{nombreCuenta}"/>				
				</div>
				
				<div class="form-group">
					<label for="tipoCuenta">Tipo_Cuenta</label>
					<input type="text" class="form-control" id="tipoC" aria-describedby="emailHelp" placeholder="Ingresar tipo de cuenta" th:field="*{tipoCuenta}"/>				
				</div>
				
				<div class="form-group">
					<label for="descripcionCuenta" >Descripcion_Cuenta</label>
					<input type="text" class="form-control" id="descripcionCu" aria-describedby="emailHelp" placeholder="Ingresar descripcion de la cuenta" th:field="*{descripcionCuenta}"/>
				</div>
				
				<div class="form-group">
					<label for="fechaCreacion" >Fecha_Creacion</label>
					<input type="text" class="form-control" id="fechaCreacionCu" aria-describedby="emailHelp" placeholder="Fecha de creacion de la cuenta" th:field="*{fechaCreacion}"/>
				</div>
				
				<div class="form-group">
					<label for="contrasenaCuenta" >Contrasena_Cuenta</label>
					<input type="text" class="form-control" id="contraCu" aria-describedby="emailHelp" placeholder="Contraseña de la cuenta" th:field="*{contrasenaCuenta}"/>
				</div>
				
				<button type="submit" class="btn btn-primary">Agregar</button>				

			</form>
		</div>
	</body>
</html>
